@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");
.playfair {
  font-family: "Playfair", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.roboto-regular {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.portrait {
  background-image: url(https://images.pexels.com/photos/2379004/pexels-photo-2379004.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  background-position: center;
  height: 55vh;
  width: 20vw;
  min-width: min-content;
  margin-top: 3em;
  margin-left: 1em;
  color: #f0f3f5;
  font-family: "Playfair";
  font-size: 22px;
  display: flex;
  justify-content: flex-start;
  align-items: start;
  padding: .5%;
  box-shadow: 2px 2px 10px 1px black;
}
